@font-face {
  font-family: "iconfont"; /* Project id 2512534 */
  src: url('//at.alicdn.com/t/font_2512534_mtmf6iyv23g.woff2?t=1622009665776') format('woff2'),
       url('//at.alicdn.com/t/font_2512534_mtmf6iyv23g.woff?t=1622009665776') format('woff'),
       url('//at.alicdn.com/t/font_2512534_mtmf6iyv23g.ttf?t=1622009665776') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
  content: "\e614";
}

.icon-iconset0144:before {
  content: "\e62b";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-suo:before {
  content: "\e644";
}

.icon-jiahao1:before {
  content: "\e607";
}

.icon-erweima:before {
  content: "\e61e";
}

.icon-bianzubeifen3:before {
  content: "\e606";
}

.icon-fanhui:before {
  content: "\e60e";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-xiajiantou:before {
  content: "\e615";
}

.icon-biaoqing:before {
  content: "\e63d";
}

.icon-aite:before {
  content: "\e60d";
}

.icon-aixin:before {
  content: "\e60f";
}

.icon-guanbi:before {
  content: "\e6c9";
}

.icon-pinglun1:before {
  content: "\e63a";
}

.icon-fenxiang:before {
  content: "\e633";
}

.icon-xin:before {
  content: "\e66d";
}

.icon-jiahao:before {
  content: "\e86a";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-hanhan-01-01:before {
  content: "\e681";
}

.icon-sousuo:before {
  content: "\e9f2";
}

.icon-zhibo:before {
  content: "\e79f";
}
